<div class="input" (click)="inputElement.focus()">
  @if(label()) {
  <label class="input__title" (click)="inputElement.focus()">{{ label() }} </label>
  }

  <div
    class="input-container"
    (click)="inputElement.focus()"
    [ngClass]="{
      'input-container--left': iconPosition() === 'left',
      'input-container--right': iconPosition() === 'right'
    }"
  >
    @if(iconPosition() === 'left') {
    <img src="assets/images/{{ iconName() }}.svg" alt="" />
    }

    <input
      #inputElement
      [type]="showPassword() ? 'text' : type()"
      (blur)="onTouched()"
      (input)="onInput($event)"
      [disabled]="isDisabled"
      [placeholder]="placeholder()"
      [value]="value"
      class="input__main"
      [ngClass]="{
        'input__main--invalid': hasError()
      }"
    />
    @if(iconPosition() === 'right') {
    <img (click)="iconName() && handleEyeClick()" src="assets/images/{{ iconName() }}.svg" alt="" />
    }
  </div>
  @for (error of errorMessage(); track error.message) {
  <p *ngIf="error.isVisible" class="input__error-text">
    {{ error.message }}
  </p>
  }
</div>
