@use "@/assets/styles/_mixins.scss";
@use "@/assets/styles/_variables.scss";


.input {
  width: 100%;
  height: 100%;

  &__title {
    color: variables.$color-grey-500;
    line-height: 150%;
    font-weight: 700;
    font-size: variables.$font-size-preset-4;
  }

  &-container {
    @include mixins.flex(center, space-between);
    gap: variables.$spacing-50;
    position: relative;
    height: 100%;
    padding: variables.$spacing-150 variables.$spacing-250;
    border-radius: variables.$spacing-100;
    border: 1px solid variables.$color-beige-500;
    outline: none;
    transition: border .3s ease;

    input {
      font-size: 14px;
    }
  }

  &__error-text {
    line-height: 150%;
    font-weight: 700;
    color: variables.$color-red;
    margin-top: variables.$spacing-50;
  }
}



