@use "@/assets/styles/_mixins.scss";
@use "@/assets/styles/_variables.scss";

.overview-budgets {
    @include mixins.card();

    & {
        margin-top: 12px;
    }

    &__chart {
        display: grid;
        grid-template-columns: 1fr;
        gap: variables.$spacing-200;
        place-items: center;


        &-summary {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: variables.$spacing-200;
            margin-top: 20px;
            width: 100%;
            margin: auto;
        }
    }

    @include mixins.respond(sm) {
        &__chart {
            grid-template-columns: 1fr 1fr;
            gap: 200px;

            &-summary  {
                grid-template-columns: 1fr;
            }
        }
    }

    @include mixins.respond(md) {
        margin-top: unset;
        &__chart {
            grid-template-columns: 1fr 1fr;
        }
    }


}