@use "@/assets/styles/_variables.scss";
@use "@/assets/styles/_mixins.scss";

.auth {
  display: flex;
  height: 100dvh;
  width: 100%;
  background-color: variables.$color-beige-100;

  &__cover {
    width: 41.67%;
    height: 100%;
    padding: variables.$spacing-250;


    &-img {
      align-items: flex-start;
      background: url('src/assets/images/illustration-authentication.svg') center;
      background-size: cover;
      height: 100%;
      border-radius: variables.$spacing-150;
    }
  }

  &__form {
    @include mixins.flex(center,center,row);
    width: 58.33%;
    padding: variables.$spacing-400 variables.$spacing-500;
  }
}
