@use "@/assets/styles/_variables.scss";
@use "@/assets/styles/_mixins.scss";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.auth-card  {
  max-width: 560px;
  width: 100%;
  background-color: variables.$color-white;
  border-radius: variables.$spacing-250;
  padding: variables.$spacing-400;
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-400;

  &__header {
    h2 {
      color: variables.$color-grey-900;
      line-height: 120%;
      font-weight: 700;
      font-size: 32px;
    }
  }

  &__footer {
    &-account {
      @include mixins.flex();
      p,button {
        line-height: 120%;
        font-weight: 700;
        font-size: variables.$font-size-preset-4;
      }

      button {
        color: variables.$color-grey-900;
        text-decoration: underline;
        cursor: pointer;
      }

      p:first-child {
        color: variables.$color-grey-500;
      }
    }
  }
}
