<div class="auth-card">
  @if(title()) {
  <header class="auth-card__header">
    <h2>{{ title() }}</h2>
  </header>
  }
  <!---->
  <ng-content select="[body]"></ng-content>
  <!---->
  <section class="auth-card__footer">
    <div class="auth-card__footer-account">
      <p>{{ 'auth.login.needAccount' | translate }}</p>
      <button (click)="handleNavigate()">{{isInLogin() ? ('auth.login.signUp' | translate) : ('auth.register.login' | translate) }} </button>
    </div>
    <!---->
    @if (isInLogin()) {
      <div class="auth-card__footer-account">
        <p>{{ 'auth.login.justBrowsing' | translate }}</p>
        <button (click)="handleDemoLogin()">{{ 'auth.login.loginDemo' | translate }}</button>
      </div>
    }
  </section>
</div>
