<div class="auth-card">
  @if(title()) {
  <header class="auth-card__header">
    <h2>{{ title() }}</h2>
  </header>
  }
  <!---->
  <ng-content select="[body]"></ng-content>
  <!---->
  <section class="auth-card__footer">
    <div class="auth-card__footer-account">
      <p>Need to create an account?</p>
      <button (click)="handleNavigate()">{{isInLogin() ? 'Sign Up' : 'login' }} </button>
    </div>
    <!---->
    @if (isInLogin()) {
      <div class="auth-card__footer-account">
        <p>Just browsing?</p>
        <button (click)="handleDemoLogin()">Login with demo</button>
      </div>
    }
  </section>
</div>
