@let pageData = paginatedTransaction();

<div class="transactions">
  <h2 class="transaction-title">Transactions</h2>
  <!-- -->
  <div class="transaction__content">
    <div class="transaction__content-header">
      <app-reusable-input
        class="transaction__content-input"
        iconName="icon-search"
        iconPosition="right"
        placeholder="Search transaction"
      />
      <!-- -->
      <div class="transaction__content-buttons">
        <button class="transaction__content-button">
          <img alt="icon-sort-mobile"
               ngSrc="./assets/images/icon-sort-mobile.svg" appLazyAttribute
               width="18"
               height="16"
               />
        </button>

        <button class="transaction__content-button">
          <img alt="icon-filter-mobile" ngSrc="./assets/images/icon-filter-mobile.svg"
               width="18"
               height="16"
               appLazyAttribute />
        </button>
      </div>
      <!-- -->
    </div>
    <!-- -->
    <div class="transaction__content-rows">
      @defer (when pageData.length) {
        @for (transaction of pageData; track $index) {
          <app-transactions-row [transaction]="transaction"/>
        }
      } @placeholder  {
        @for (_ of [].constructor(ITEMS_PER_PAGE);track $index) {
          <app-transactions-skeleton/>
        }
      }
    </div>
    <!---->
    <div class="transaction__pagination">
      <button class="transaction__pagination-prev" (click)="handlePreviousPage()">
        <img  alt="icon-filter-mobile"
              ngSrc="./assets/images/icon-caret-left.svg"
              width="6"
              height="11"
              appLazyAttribute>
      </button>
      <div class="transaction__pagination-content">
        @for (bullets of paginationBullets();track $index) {
          <div (click)="typeof bullets !== 'string' && currentPage.set(bullets)" [class.transaction__pagination-content--active]="bullets === currentPage()">{{bullets}}</div>
        }
      </div>
      <button class="transaction__pagination-next" (click)="handleNextPage()">
        <img  alt="icon-filter-mobile"
              ngSrc="./assets/images/icon-caret-right.svg"
              width="6"
              height="11"
              appLazyAttribute>
      </button>
    </div>
  </div>

</div>
