@use "@/assets/styles/_variables.scss";
@use "@/assets/styles/_mixins.scss";

.transaction {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: variables.$spacing-200;

    @include mixins.respond(xs) {
      flex-direction: column;
      align-items: flex-start;
      gap: variables.$spacing-200;
    }
  }

  &-title {
    font-size: variables.$font-size-preset-1;
    color: variables.$color-grey-900;
  }

  &__content {
    @include mixins.card();

    overflow: unset !important;

  @include mixins.respond(xs) {
    padding-inline: 10px;
  }


    &-input {
      flex-basis: 33%;
      height: 46px;
    }

    & {
      margin-top: variables.$spacing-400;
    }

    &-buttons {
      display: flex;
      gap: variables.$spacing-300;
      align-items: center;

      @include mixins.respond(xs) {
        gap: unset;
      }
      @include mixins.respond(sm) {
        gap: unset;
      }
    }

    &-button {
      &--mobile {
        display: block;

        @include mixins.respond(md) {
          display: none;
        }
        @include mixins.respond(sm) {
          display: none;
        }
      }

      &--desktop {
        display: none !important;

        @include mixins.respond(md) {
          display: flex !important;;
          align-items: center;
          gap: variables.$spacing-200;
        }

        @include mixins.respond(sm) {
          display: flex !important;;
          align-items: center;
          gap: variables.$spacing-200;
        }
      }
    }

    &-header {
      @include mixins.flex(center, center);
      gap: variables.$spacing-300;
      min-height: 46px;
      @include mixins.respond(md) {
        justify-content: space-between;
      }
    }

    &-rows {
      margin-top: variables.$spacing-300;
      min-height: 200px;
    }
  }

  &__empty-state {
    padding: variables.$spacing-500;
    text-align: center;

    &-text {
      font-size: variables.$font-size-preset-3;
      font-weight: 700;
      color: variables.$color-grey-900;
      margin-bottom: variables.$spacing-200;
    }

    &-subtext {
      font-size: variables.$font-size-preset-4;
      color: variables.$color-grey-500;
    }
  }

  &__dropdown {
    @include mixins.flex(center, flex-start);
    gap: variables.$spacing-200;

    &-label {
      font-size: variables.$font-size-preset-4;
      color: variables.$color-grey-500;
      white-space: nowrap;
    }
  }
  &__pagination {
    @include mixins.flex(center,center);
    gap: 8px;
    margin-top: variables.$spacing-400;

    &-prev,&-next {
      padding-inline: variables.$spacing-200;
      padding-top: variables.$spacing-150;
      padding-bottom: variables.$spacing-150;
      border: 1px solid variables.$color-beige-500;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover:not(:disabled) {
        background-color: variables.$color-beige-100;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    &-content {
      @include mixins.flex(center,center);
      gap: 8px;

      &--active {
        background-color: variables.$color-grey-900;
        color: white;
      }

        ::ng-deep {

          div {
            border: 1px solid variables.$color-beige-500;
            border-radius: 10px;
            padding-inline: 18px;
            padding-top: 8px;
            padding-bottom: 8px;
          }
        }
    }

  }
}
