<div class="transactions">
  <app-card-header class="transactions__header" redirectPath="/transactions" [redirectPlaceHolder]="'common.viewAll' | translate"
                   [title]="'overview.transactions.title' | translate"></app-card-header>
  <!-- -->
  @for (transaction of slicedTransactions(); track $index) {
    <div class="transactions__item">
      <app-transaction-history-item [transaction]="transaction"></app-transaction-history-item>
      @if ($index < 4) {
        <div class="transactions__item-line"></div>
      }
    </div>
  }
</div>
