<div class="chart-container" >
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [labels]="chartOptions.labels"
      [responsive]="chartOptions.responsive"
      [plotOptions]="chartOptions.plotOptions"
      [fill]="chartOptions.fill"
      [stroke]="chartOptions.stroke"
      [legend]="chartOptions.legend"
      [dataLabels]="chartOptions.dataLabels"
      [tooltip]="chartOptions.tooltip"
    ></apx-chart>

    <div class="custom-legend">
      <div class="custom-legend__item">
        <div class="custom-legend__item-color">$328</div>
        <div class="custom-legend__item-label">of $975 limit</div>
      </div>
    </div>
  </div>
  