@use "@/assets/styles/_variables.scss";
@use "@/assets/styles/_mixins.scss";

.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .custom-legend {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: variables.$spacing-100;

            &-color {
                font-size: variables.$font-size-preset-1;
                font-weight: 700;
                color: variables.$color-grey-900;
            }

            &-label {
                font-size: variables.$font-size-preset-4;
                font-weight: 400;
                color: variables.$color-navy-grey;
            }
        }
        
    }

 



    @include mixins.respond(md) {
        display: block;

       
    }
}