<nav class="sidebar">
    <div class="sidebar__list">
        @for (tab of tabConfig; track tab.id) {

            @let isActive = currentUrl() === tab.route;

            <div class="sidebar__list-tab" [class.sidebar__list-tab--active]="isActive">
                <a [routerLink]="tab.route">
                    <app-svg-icon [iconName]="tab.icon" [fill]="isActive ? tab.fillActive : tab.fill"></app-svg-icon>
                </a>
                <span>{{ tab.name }}</span>
            </div>
        }
    </div>
</nav>