<nav class="sidebar" [class.sidebar--close]="!isSidebarOpen()">
    <img class="sidebar__logo" routerLink='/' [src]="isSidebarOpen() ? 'assets/images/logo-large.svg' : 'assets/images/logo-small.svg'" [alt]="'altText.logo' | translate">
    <div class="sidebar__list">
        @for (tab of tabConfig; track tab.id) {

            @let isActive = currentUrl() === tab.route;

            <div class="sidebar__list-tab" [routerLink]="tab.route" [class.sidebar__list-tab--active]="isActive">
                <a>
                    <app-svg-icon [iconName]="tab.icon" [fill]="isActive ? tab.fillActive : tab.fill"></app-svg-icon>
                </a>
                    <span>{{ tab.nameKey | translate }}</span>
            </div>
        }
    </div>

    <div class="sidebar__footer">
      <!---->
        <div class="sidebar__footer-item" (click)="isSidebarOpen.set(!isSidebarOpen())">
            <img src="assets/images/icon-minimize-menu.svg" [alt]="'altText.avatar' | translate">
            <span>{{ 'navigation.minimizeMenu' | translate }}</span>
        </div>
    </div>
</nav>
