@use "@/assets/styles/_variables.scss";
@use "@/assets/styles/_mixins.scss";

:host {
  display: block;
  width: 100%;
}

.transactions-row {
  @include mixins.flex(center, space-between, row);
  width: 100%;

  &-line {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    background-color: variables.$color-grey-100;
    height: 1px;
  }

  &__left {
    @include mixins.flex(center, center, row);

    &-sender-img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: variables.$color-grey-100;
    }

    &-sender {
      @include mixins.flex(flex-start, flex-start, column);
      margin-left: variables.$spacing-150;

      .skeleton-text {
        height: 12px;
        margin-bottom: 4px;
        border-radius: 4px;
      }
    }
  }

  &__right {
    @include mixins.flex(flex-end, center, column);

    .skeleton-text {
      height: 12px;
      margin-bottom: 4px;
      border-radius: 4px;
    }
  }

  &.skeleton {
    .skeleton-box {
      background: variables.$color-grey-100;
      animation: pulse 1.5s ease-in-out infinite;
    }

    .skeleton-text.short {
      width: 60px;
    }

    .skeleton-text.medium {
      width: 80px;
    }

    .skeleton-text.long {
      width: 100px;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}
