@mixin respond($breakpoint) {
    @if $breakpoint == xs {
      @media (max-width: 575.98px) { @content; }
    } @else if $breakpoint == sm {
      @media (min-width: 576px) and (max-width: 1199.98px) { @content; }
    } @else if $breakpoint == md {
      @media (min-width: 1200px) { @content; }
    }
  }

  @mixin flex( $align: stretch,$justify: flex-start, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
  }