@use "@/assets/styles/_variables.scss";
@use "@/assets/styles/_mixins.scss";

.pots {
  &__header {
    @include mixins.flex(center, space-between);
    margin-bottom: variables.$spacing-400;

    @include mixins.respond(xs) {
      flex-direction: column;
      gap: variables.$spacing-300;
      align-items: flex-start;
    }
  }

  &__title {
    font-size: variables.$font-size-preset-1;
    font-weight: 700;
    color: variables.$color-grey-900;
    margin: 0;
  }

  &__content {
    width: 100%;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: variables.$spacing-400;

    @include mixins.respond(xs) {
      grid-template-columns: 1fr;
    }
  }

  &__empty-state {
    @include mixins.card();

    & {
      padding: variables.$spacing-500;
      text-align: center;
    }
  }

  &__empty-text {
    font-size: variables.$font-size-preset-3;
    font-weight: 700;
    color: variables.$color-grey-900;
    margin-bottom: variables.$spacing-200;
  }

  &__empty-subtext {
    font-size: variables.$font-size-preset-4;
    color: variables.$color-grey-500;
    margin-bottom: variables.$spacing-400;
  }
}
